nav {
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(0,100,164);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Helvetica', sans-serif;
    color: white;
    height: 50px;
}

/* logo size */
.logo {
    width: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

/* navbar link color&size */
.nav-links a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.nav-links a.active {
    background-color: rgb(0,100,164);
}

/* rounded profile photo */
.profile-pic-container {
    border-radius: 50%;
    width: 50px;
    overflow: hidden;
}

/* profile-pic size */
.profile-pic {
    width: 100%;
    height: auto;
}