nav {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: 'Helvetica', sans-serif;
  color: white;
  background-color: rgb(0,100,164);
}

/* logo size */
.logo {
  width: 50px;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

/* navbar link color&size */
.navLinks a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.navLinks a.active {
  background-color: rgb(0,100,164);
}

/* rounded profile photo */
.profilePicContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  display: flex; /* or inline-flex */
  align-items: center; 
  justify-content: center;
}

.linkToProf:link {
  text-decoration: none;
  color:white;
}
.linkToProf:visited {
  text-decoration: none;
  color:white;
}
.linkToProf:hover {
  text-decoration: none;
  color:white;
}
.linkToProf:active {
  text-decoration: none;
  color:white;
}

/* profile-pic size */
.profilePic {
  width: 100%;
  height: auto;
}