.scheduleBody {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: #f4f4f4;
}

.container {
    display: flex;
    flex: 1;
    padding: 0 5px 5px;
}

.schedule {
    flex-grow: 1;
    overflow-x: auto; 
    min-width: 200px;
    margin-bottom: 5px;
    margin-top: 5px;
    flex-basis: 50%;
    display: table;
    overflow: auto;
    margin-right: 5px;
}

.schedule table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.schedule th, .schedule td {
    border: 1px solid #ccc;
    min-width: 100px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

.schedule td {
    position: relative;
}

.schedule table th:first-child, .schedule table td:first-child {
    width: 12.5%;
}

.schedule th:not(:first-child), .schedule td:not(:first-child) {
    border-left: none;
}

.schedule th:last-child, .schedule td:last-child {
    border-right: 1px solid #ccc; 
}

.schedule table tr:nth-child(even) td {
    background-color: #f0f0f0; 
}

.resizer {
    margin-bottom :5px;
    flex: none;
    width: 5px;
    background: rgb(0,100,164);
    cursor: ew-resize;
    margin-top: 5px;
    z-index: 10;
}

.resizer:hover {
    background-color: #0056b3;
}

.classSearch {
    flex-grow: 1;
    overflow-x: auto; 
    min-width: 200px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.iconContainer {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}


.screenshotButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.screenshotIcon {
    width: 24px;
    height: 24px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f4f4f4;
    padding: 5px;
    background-color: #f3f3f3;
}

.toggleFilters, .buttonContainer button {
    flex: 1;
    padding: 10px 20px;
    border: none;
    margin: 0 5px;
    background-color: #f3f3f3;
    color: #333;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonContainer button:hover {
    background-color: #e1e1e1;
}

.filters {
    display: flex;
    flex-direction: column;
}

/* .filterItem {
    margin-bottom: 10px;
} */

.filterItem select {
    padding: 10px;
    margin-top: 5px;
    width: calc(100% - 20px);
    cursor: pointer;
    outline: 1px solid black;
    color: black;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.results {
    margin-top: 20px;
}

.dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto;
}

.dropdown li {
    padding: 5px;
    cursor: pointer;
}

.dropdown li:hover {
    background-color: #f0f0f0;
}

.eventForm .days-container {
    width: calc(100% - 20px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 0;
}

.filterItem select, .eventForm input[type='text'], .eventForm input[type='time'], .eventForm button, .searchContainer input[type='text']  {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.eventForm button {
    margin-top: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0;
}

.eventForm div {
    margin-bottom: 10px;
}

.eventForm label {
    display: block;
    margin-bottom: 5px;
}

.eventForm select[multiple] {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.eventForm .daysContainer {
    display: inline-block;
    margin-right: 10px;
}

.eventContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    box-sizing: border-box;
    z-index: 2;
}

.eventContent .close-icon {
    cursor: pointer;
    top: 5px;
    right: 5px;
}

.closeIcon {
    filter: brightness(70%);
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.closeIcon:hover {
    filter: brightness(70%);
}

.daysContainer, .day {
    display: flex;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
}

.day {
    flex-grow: 1;
    text-align: center;
    border-left: 1px solid #ccc;
    transition: background-color 0.3s;
}

.day:last-child {
    border-right: 1px solid #ccc;;
}

.day:hover, .day.selected {
    background-color: #007bff;
    color: white;
}

.days-container {
    display: flex;
}

.day {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.day.selected {
    background-color: #007bff;
    color: white;
}

.addedEventsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
.addedEventsTable th,
.addedEventsTable td {
    padding: 8px;
    text-align: left;
}
