.scheduleBody {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    background: #f4f4f4;
}

.container {
    display: flex;
    flex: 1;
    padding: 0 5px 5px;
}

.schedule {
    flex-grow: 1;
    overflow-x: auto; 
    min-width: 200px;
    margin-bottom: 5px;
    margin-top: 5px;
    flex-basis: 50%;
    display: table;
    overflow: auto;
    margin-right: 5px;
}

.schedule table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.schedule th, .schedule td {
    border: 1px solid #ccc;
    min-width: 100px;
    height: 20px; /* Height of each box is now 20px */
    text-align: center;
    vertical-align: middle;
}

.schedule td {
    position: relative;
}

.schedule table th:first-child, .schedule table td:first-child {
    width: 12.5%;
}

.schedule th:not(:first-child), .schedule td:not(:first-child) {
    border-left: none;
}

.schedule th:last-child, .schedule td:last-child {
    border-right: 1px solid #ccc; 
}

.schedule table tr:nth-child(even) td {
    background-color: #f0f0f0; 
}

.resizer {
    margin-bottom: 5px;
    flex: none;
    width: 5px;
    background: rgb(0,100,164);
    cursor: ew-resize;
    margin-top: 5px;
    z-index: 1;
}

.resizer:hover {
    background-color: #0056b3;
}

.functionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    height: 100%;
    position: relative;
    z-index: 2; /* Ensure it is above the resizer */
}

.screenshotButton, .trashButton, .returnButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px; /* Adjust to match the icon size */
    height: 40px; /* Adjust to match the icon size */
    margin: 5px 0; /* Add some space between the buttons */
    position: relative;
    transition: background-color 0.3s;
}

.screenshotButton:hover, .trashButton:hover, .returnButton:hover, .plusIconHover:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Slightly darken on hover */
}

.screenshotIcon, .trashIcon, .returnIcon, .plusIcon {
    width: 24px;
    height: 24px;
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 3; /* Ensure it is in front of everything else */
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    font-size: 12px; /* Adjust this value to make the text smaller */
}

.screenshotButton:hover .tooltip, .trashButton:hover .tooltip, .returnButton:hover .tooltip, .plusIconHover:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.classSearch {
    flex-grow: 1;
    overflow-x: auto; 
    min-width: 200px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0 5px;
    width: 100%; /* Ensure the classSearch container maintains the same width */
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    border: 1px solid #f4f4f4;
    padding: 5px;
    background-color: #f3f3f3;
    margin-top: 5px; /* Add some space between the icon container and button container */
}

.toggleFilters, .buttonContainer button {
    flex: 1;
    padding: 10px 20px;
    border: none;
    margin: 0 5px;
    background-color: #f3f3f3;
    color: #333;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonContainer button:hover {
    background-color: #e1e1e1;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items */
    width: 100%;
}

.filterLabel {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    text-align: left;
    width: 100%;
}

.filterContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; /* Add space between department bar and course search button */
    width: 100%;
}

.filterItem select, .filterItem input[type='text'], .eventForm input[type='text'], .eventForm input[type='time'], .eventForm button, .searchContainer input[type='text']  {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
    height: 40px; /* Set height to match */
    border: none;
    border-bottom: 1px solid #ccc; /* Add bottom border */
    background-color: transparent;
    color: #333; /* Match text color of course number input */
}

.filterItem select {
    border-radius: 4px;
    background-color: white;
}

.filterItem {
    width: calc(100% - 10px); /* Adjust width to be the same for all */
    padding: 0 5px;
}

.fullWidth {
    width: calc(100% - 10px); /* Adjust width to be the same as classSearch container */
}

.partialWidth {
    width: calc(100% - 140px); /* Adjust width to be classSearch container width minus course number input box */
}

.searchButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.courseSearchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; /* Add space between the button and above elements */
}

.courseSearchButton:hover {
    background-color: #0056b3;
}

.searchButtonIcon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.eventForm button {
    margin-top: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0;
}

.eventForm div {
    margin-bottom: 10px;
}

.eventForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* Match the font weight of "Term" */
    color: #333; /* Match the color of "Term" */
    font-size: 14px; /* Match the font size of "Term" */
}

.eventForm select[multiple] {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.eventForm .daysContainer {
    display: flex;
    justify-content: center; /* Center the buttons */
    gap: 10px; /* Add space between the buttons */
    margin-bottom: 10px; /* Add space below the buttons */
}

.eventContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: black; /* Change text color to black */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 5px;
    box-sizing: border-box;
    z-index: 2;
    font-size: 12px; /* Smaller font size for text */
}

.eventContent .close-icon {
    cursor: pointer;
    top: 0px;
    right: 0px;
    height: 10px;
    width: 10px;
}

.closeIcon {
    filter: brightness(70%);
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    height: 10px;
    width: 10px;
}

.closeIcon:hover {
    filter: brightness(70%);
}

.daysContainer, .day {
    display: flex;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
}

.day {
    flex-grow: 1;
    text-align: center;
    border-left: 1px solid #ccc;
    transition: background-color 0.3s;
}

.day:first-child {
    margin-left: 0; /* Remove space in front of the first button */
}

.day:last-child {
    border-right: 1px solid #ccc;;
}

.day:hover, .day.selected {
    background-color: #007bff;
    color: white;
}

.days-container {
    display: flex;
}

.day {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1; /* Ensure equal width */
    text-align: center; /* Center the text */
    align-items: center; /* Center the text vertically */
    justify-content: center; /* Center the text horizontally */
    display: flex; /* Center the text horizontally */
}

.day.selected {
    background-color: #007bff;
    color: white;
}

.addedEventsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.addedEventsTable th,
.addedEventsTable td {
    padding: 8px;
    text-align: center; /* Center text in all table cells */
}

.courseTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.courseTable th,
.courseTable td {
    padding: 8px;
    text-align: center; /* Center text in all table cells */
}
