.userProfileBody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://news.uci.edu/files/2021/04/studentcenter_210420.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure can stick to the bottom */
    overflow-x: hidden;
}
